.white {
    color: $white;
}

.black {
    color: $black;
}

.grey {
    color: $lightGrey;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.xs {
    font-size: 0.6rem;
    @media (max-width: 768px) {
        font-size: 0.4rem;
    }
    @media (max-width: 480px) {
        font-size: 0.2rem;
    }
}

.s {
    font-size: 0.8rem;
    @media (max-width: 768px) {
        font-size: 0.6rem;
    }
    @media (max-width: 480px) {
        font-size: 0.4rem;
    }
}

.m {
    font-size: 1rem;
    @media (max-width: 768px) {
        font-size: 0.8rem;
    }
    @media (max-width: 480px) {
        font-size: 0.6rem;
    }
}

.l {
    font-size: 1.2rem;
    @media (max-width: 768px) {
        font-size: 1rem;
    }
    @media (max-width: 480px) {
        font-size: 0.8rem;
    }
}

.xl {
    font-size: 2.4rem;
    @media (max-width: 768px) {
        font-size: 1.8rem;
    }
    @media (max-width: 480px) {
        font-size: 1.2rem;
    }
}

.weight300 {
    font-weight: 300;
}

.weight400 {
    font-weight: 400;
}

.weight500 {
    font-weight: 500;
}

.weight700 {
    font-weight: 700;
}