.h1 {
    padding: 2rem 3rem 0 ;
}

.p {
    padding: 1rem 3rem 3rem ;
}

@media (max-width: 768px) {
    .h1 {
        padding: 2rem 3rem 0 ;
    }
    
    .p {
        padding: 1rem 3rem 0 ;
    }
}

@media (max-width: 480px) {
    .h1 {
        padding: 2rem 3rem 0 ;
    }
    
    .p {
        padding: 1rem 3rem 0 ;
    }
}