
.descriptions td {
    padding: 1.5rem;
    text-align: left;
    font-size: 1rem;
}

.userinfo {
    display: flex;
    align-items: flex-start;
}

.usericon {
    color: $pink;
    margin: 1rem 1rem;
}

.userdetails {
    display: flex;
    flex-direction: column;
}

.email {
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

@media (max-width: 768px) {

    .descriptions td {
        padding: 1rem;
        text-align: left;
        font-size: 0.8rem;
    }
    .email {
        font-size: 0.6rem;
        padding-top: 0.3rem;
    }
}

@media (max-width: 480px) {

    .descriptions td {
        padding: 0.8rem;
        text-align: left;
        font-size: 0.6rem;
    }
    .email {
        font-size: 0.5rem;
        padding-top: 0.2rem;
    }
}