.usernum {
    padding: 1.5rem;
}
.userinfo {
    display: flex;
    padding: 1rem;
    align-items: center;
}

.usericon {
    color: $pink;
    margin: 1rem;
    font-size: 1.2rem;
}

.userdetails {
    display: flex;
    flex-direction: column;
}
.usertasks {
    padding: 1.5rem;
}

@media (max-width: 768px) {

    .email {
        padding-top: 0.1rem;
    }
    .usericon {
        font-size: 1rem;
        margin: 0.6rem;
    }
}
@media (max-width: 480px) {

    .email {
        padding-top: 0.15rem;
    }
    .usericon {
        font-size: 0.8rem;
        margin: 0.4rem;
    }
}