.headers th {
    padding: 1.5rem;
    text-align: left;
    font-size: 1rem;
}

.headers th {
    font-size: 1.3rem;
    background: $tableHeader;
}

@media (max-width: 768px) {

    .headers th {
        padding: 1rem;
        text-align: left;
        font-size: 0.8rem;
    }

    .headers th {
        font-size: 1.1rem;
    }
}

@media (max-width: 480px) {

    .headers th {
        padding: 0.8rem;
        text-align: left;
        font-size: 0.6rem;
    }

    .headers th {
        font-size: 0.9rem;
    }
}